.ticket {
  width: 300px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  position: fixed;
  top: 20%;
  right: 5%;
}


.ticket h2 {
  margin-top: 0;
  font-size: 20px;
}

.ticket p {
  margin: 5px 0;
}

.ticket_button {
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ticket_button:hover {
  background-color: #8d002a;
}


