.registration_container {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 70px;
}

.registration_div {
  margin-bottom: 20px;
}

select {
  margin: 20px;
  width: 90%;
  height: 40px;
  
}

.registration_input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

.registration_button {
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.registration_button:hover {
  background-color: #003e94;
}

.error {
  color: red;
}