*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.registration_button{
    position: absolute;
    height: 50px;
    width: 200px;
    margin-top: 470px;
    left: 410px;
    background-color: rgb(3, 26, 73) ;
    color: rgba(255, 255, 255, 0.935);
    font-size: 24px;
    font-style: none;
     text-decoration: none;
     padding: 4px;
    
}

.first-section {
    position: relative;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0),
     rgba(25, 85, 133, 0.666)),
     url(../../assets/background/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    margin-top: 70px;
    height: 872px;
    width: 100%;
}

h1 {
    position: absolute;
    color: rgb(13, 34, 75);
    font-size: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 100px;
    top: 250px;
}



.third-section {
    width: 100%;
    height: 900px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.717),
     rgba(247, 247, 247, 0.666)),
     url(../../assets/background/background2.jpeg);

    background-repeat: no-repeat;
    background-size: cover;

}


h2 {
    color: rgb(6, 45, 118);
    text-align: center;
    padding-top: 100px;
    font-size: 58px;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 50px 100px;
  }

.card-section {
    position: relative;
    width: 600px;
    height: 230px;
    
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(7, 75, 185, 0.628);
}

.card-section:hover {
    transform: scale(1.05); /* increase scale on hover */
    box-shadow: 0 0 20px rgba(7, 75, 185, 0.8); /* increase box-shadow on hover */
  }  

.card-section h3 {
    position: absolute;
    left: -24px;
    top: -16px;
    background-color: rgb(19, 37, 100);
    color: rgba(255, 255, 255, 0.89);
    font-size: 32px;
    width: 140px;
    height: 50px;
    border-radius: 5px;
    font-weight: bold; 
}

.card-section h4 {
    font-weight: bold; 
    position: relative;
    top: 40px;
    font-size: 27px;
}


.card-section p {
    position: relative;
    top: 50px;
    font-size: 20px;
    color: rgba(18, 29, 71, 0.521);
}