.registration_container {
  background-color: #ffffffbd;
  max-width: 500px;
  margin: 40px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.registration_div {
  margin-bottom: 20px;
}

.registration_input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.registration_button {
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
}

.registration_button:hover {
  background-color: rgb(30, 59, 190);
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}